<div class="container">
  <div class="content">
      <div class="separator"></div>
      <div>{{item.p_variation + " " + item.p_name | uppercase}}</div>
      <div>{{item.c_currency}}<span class="item-title"> {{item.p_price}}</span></div>
      <div class="space">{{item.p_selected_color.name}}</div>
      <div class="color-box" [ngStyle]="{'background-color': item.p_selected_color.hexcode}">&nbsp;</div>
      <div class="select-box">
          <mat-form-field>
              <mat-select placeholder="SIZE" [(value)]="selectedSize">
                <mat-option *ngFor="let size of item.p_available_options.sizes" [value]="size.code">
                  {{size.code}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-select placeholder="QTY" [(value)]="selectedQty">
                <mat-option *ngFor="let qty of availableQty" [value]="qty">
                  {{qty}}
                </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="onEdit(item)">EDIT</button>
  </div>
  <div class="image-content">
      <img src="../../../assets/T{{item.p_id}}.jpg" alt="shirt">
  </div>
</div>